

/* main > aside {
    float: right;
    background-color: var(--color-fondo-header);
    width: 395px;
    max-width: 100%;
    margin: 20vh 0vw 100vh 0vw;
    height: 1000vh;
    box-sizing: border-box;
    border: 30px; 
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--color-primario);


} */
#aside-container{
    float:right;
    background-color: var(--color-fondo-header);
    width: 260px;
    max-width: 100%;
    height: auto;
    border: 5px solid var(--color-secundario);
    padding: 24px;
    margin: 0px;
    margin-left: 22px;
    position: relative;
    
}

#aside-list {
    text-decoration: none;
    list-style-type: circle;
    margin-left: 5vw;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-texto-header);
    padding-top: 20px;
    padding-bottom: 60px;

}
#aside-list .hiper-aside {
    color: var(--color-secundario);
    
}
#aside-list li{
    margin-top: 15px;
    margin-bottom: 15px;
}

#texto-aside {
    background-color: var(--color-fondo-header);
    width: 300px;
    max-width: 120%;
    height: 1000vh;
    border: 1px solid var(--color-secundario);
    border-radius: 20px;
    position:relative;
    display: inline-block;
}
p{

    font-size: 1.5vw;
    margin: 10px 0px 50px 10px;
    text-align: justify;
    color: var(--color-texto-body);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
aside h1 {
    float: right;
    font-size: 3.5vw;
    color: var(--color-texto-body);
    text-align: center;
    margin: 6vh 0vw 1vh 130vw;
    background: linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    border-radius: 4px;
    padding: 25px;
}
.padre-h2 {
    font-size: 3vw;
    padding: 1px;
    color: var(--color-texto-body);
    text-align: center;
    margin: 10vh 0vw 12vh 6vh;
    width: 25vw;
}


@media screen and (max-width: 350px) and (max-width: 1280px){

aside{
    width: 31vw;
    height: auto;
    margin: 3px;
    padding: 0px;
}
#aside-container{
    max-width: 16vw;
    max-height: auto;
    padding: 5px;
    margin: 8px;
    text-align: center;
    justify-content: right;
}
#aside-list{
    max-width: 20vw;
    align-content: stretch;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 3vw;

}
h4{
    font-size: 3vw;
    text-align: center;
    max-width: 15vw;

}
#texto-aside{
    display: grid;
    justify-content: center;
    align-items: stretch;
    text-align: justify;
    height: auto;
    font-size:60%;
    max-width: 20vw;
    padding: 11px;
    margin: 10px 0px 0px -12px;

}


}
