/* Posibles colores,a modificar */
:root{
    
    
    --color-primario: #574695ea;
    --color-secundario: #28359ae7;
  --color-terciario: #574695;  
  --color-fondo-header: #b9a7e3e7;
    --color-texto-header:#fffdfd;
    --color-fondo-body: #ffffff;
    --color-texto-body: #010101;
    --color-fondo-form: rgba(0, 0, 0, 0.622);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    
}
header{
    background:linear-gradient(152deg, var(--color-primario), var(--color-secundario), var(--color-terciario), var(--color-fondo-header));
    color: var(--color-texto-header);
    text-align: center;    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#logo{
    width: 150px;
    height: 150px;
    box-sizing: var(--color-fondo-body);
    margin-right: 350px;
}
.hipervinculo{
    color: var(--color-texto-header);
    text-decoration: none;
    margin-left: 50px;
}

.menu{
    display:inline-block;
    vertical-align: middle;
}

.menu ul{
    float: right;
    margin-right: 20px;
}
.menu ul li{
    display: inline-block;
    line-height: 150px;
    margin: 0 5px
}
.menu ul li:hover{
    transform: scale(1.1);
}
.menu ul li a{
    color: var(--color-texto-header);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 13px;
    transition: .3s linear;
}
.menu ul li a:hover{
    color: #9292b2;
    transform: scale(1.1);

body{
    background-image: url(../img/pexels-pixabay-356056.jpg);
    background-size: cover;
}

.contain{
    display: flex;
}
.titulo-form{
    text-align: center;
    font-size: 20px;
    color: rgb(180, 167, 224);
    margin-top: 40px;
}

h3{
    text-align: center;
    color: rgb(221, 221, 221);
    margin-top: 10px;

}

hr{
    width: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario{
    border-radius: 10px;
    margin-top: 10px;
}

.etiqueta{
    font-size: 15px;
    text-align: left;
    margin-left: 13px;
    color:white;
}
span{
    color: rgb(228, 21, 21);
    font-size: 15px;
}

.contact{
    width: 460px;
    height: auto;
    border-radius: 1px;
    padding: 50px;
    background-color: var(--color-fondo-form);
}

input{
    width: 408px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primario);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
}

.prioridad{
    margin: 20px;
}

textarea{
    width: 395px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primario);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 15px;
    text-align: left;
    margin-left: 13px;
}


#enviar{
    height: 30px;
    margin-left: 15px;
    background-color: transparent;
    border-color:var(--color-primario);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    color: #ffffff;
}

#enviar:hover{
    background-color: var(--color-fondo-header);
    color: #ffffff;
}

::placeholder{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
}

.leyenda{
    padding: 15px;
}

.contain-s1{
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 10vw;
    height: auto;
}

.mapa{
    height: 50vh;
    width: 38vw;
    background-color: var(--color-fondo-form);
    text-align: center;
    border-radius: 5px;      
}
.mapa-a1{
    height: 43vh;
    width: 35vw;
    margin-top: 10px;
}

.info{
    height: 20vh;
    width: 25vw;
    background-color: var(--color-fondo-form);
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 50px;   
}

.info-a1{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.icon{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}


footer{
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-header);

}
.pie-pagina{
    color: var(--color-texto-header);
    text-decoration: none;
    text-align: right;
    padding-top: 10px;
}
.terminos{
    margin-right: 150px;
    font-size: 15px;
    text-align: center;
    padding-left: 150px;
    padding-bottom: 20px;
}
.redes{
    color: var(--color-texto-header);
    text-align: center;
    vertical-align:bottom;
    padding-bottom: 5px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes-img{
    height: 15px;
}

.terminos-s1{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

