
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/pexels-pixabay-356056.jpg);
    background-size:150%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body, main, footer{
    border: 3px; color: black;
    min-height: 50px;
}

.contain{
    display: flex;
}
.titulo-form{
    text-align: center;
    font-size: 20px !important;
    color: rgb(180, 167, 224);
    margin-top: 5vh;
    margin-left: -40px;
}

h3{
    text-align: center;
    color: rgb(221, 221, 221);
    margin-top: 10px;
}

hr{
    width: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario{
    border-radius: 10px;
    margin-top: 10px;
}

.etiqueta{
    font-size: 15px;
    text-align: left;
    margin-left: 13px;
    color:white;
}
span{
    color: rgb(228, 21, 21);
    font-size: 15px;
}

.etiqueta-s1{
    font-size: 15px;
    color:white;
    display:inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    padding-left: 20px;
    margin-top: 7px;
    

}
.checkbox{
    width: 15px;
}
.checkbox-s1{
    margin-left: 50px;
}

.file{
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    border: 0;
}

.contact{
    width: 490px;
    height:auto;
    border-radius: 1px;
    background-color: var(--color-fondo-form);
    margin-top: 178px;
}

input{
    width: 408px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primario);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
}

.prioridad{
    margin: 20px;
}

textarea{
    width: 395px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primario);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 15px;
    text-align: left;
    margin-left: 13px;
}


#enviar{
    height: 30px;
    width: 400px;
    margin-left: 15px;
    background-color: transparent;
    border-color:var(--color-primario);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    color: #ffffff;
}

#enviar:hover{
    background-color: var(--color-fondo-header);
    color: #ffffff;
}

::placeholder{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
}

.leyenda{
    padding: 15px;
}

.contain-s1{
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 26.6vw;
    margin-top: 4.5vw;
    height: auto;
}

.mapa{
    height: 35vh;
    width: 30vw;
    background-color: var(--color-fondo-form);
    text-align: center;
    border-radius: 5px;
    margin-top: 100px; 
}

.titulo-map{
    text-align: center;
    font-size: 20px;
    color: rgb(180, 167, 224);
}
.mapa-a1{
    height: 28vh;
    width: 27vw;
    margin-top: 10px;
}

.info{
    height: 40vh;
    width: 34vw;
    background-color:rgba(21, 21, 26, 0.95);
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.info-a1{
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.icon{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

#aviso{
    text-align: center;
    margin-left: -100px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .contact{
        margin-top: 190px;
    }

    .contain-s1{
        margin-top: 200px;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .contact{
        margin-top: 180px;
    }

    .contain-s1{
        margin-top: 150px;
        margin-left: 425px;
    }
    
}

    
@media screen and (max-width: 1024px) {


    body{
        background-size: cover; 
    }

    hr{
        margin-left: 49vw;
    }

    h3{
        margin-left: 6vw;
    }

    .titulo-form{
        margin-left: 7vw;
    }


    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: -5px;
        width: 105%;
    }

    .contain-s1{
        margin-left: 70px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .div-check{
        margin-left: 6vw;
    }

    .info{
        background-color: var(--color-fondo-form);
        width: 50vw;
        padding: 10px;
    }

    .contact{
        width: 100%;
        text-align:center;
    }
    .email-s1{
        margin-left: 11px;
        
    }

    .checkbox-s1{
        margin-left: -10px;
    }

    .div-consulta{
        display:inline-flex;
    }

    #enviar{
        margin-left: 90px;
    }

    .mapa{
        width: 40vw;
        margin-top: 5vw;
    }

    .mapa-a1{
        width: 35vw;
    }

    #consulta{
        vertical-align: top;
        margin-top: 10px;
    }

    #aviso{
        margin-left: 100px;
    }

    .leyenda{
        margin-left: 6vw;
    }

    
}

@media screen and (max-width: 768px){

    .contact{
        margin-top: 28.8vw;
    }

    .titulo-form{
        margin-left: 7vw;
    }

    h3{
        margin-left: 10vw;
    }

    .mapa{
        width: 50vw;
        text-align: center;
    }

    .mapa-a1{
        width: 45vw;
    }    
}

@media screen and (max-width: 425px) {

    .contact{
        margin-top: 50vw;
        width: 100%;
    }

    
    .div-consulta{
        display:grid;
        margin-left: 5px;
    }

    .etiqueta{
        text-align: center;
    }

    hr{
        margin-left: 35vw;
    }

    .titulo-form{
        margin-left: 0vw;
    }

    h3{
        margin-left: 5vw;
        font-size: 20px;
    }

    .email-s1{
        margin-left: 0px;
    }

    #enviar{
        margin-left: 0px;
    }

    .info{
        width: 90vw;
        margin-left: -70px
    }

    .mapa{
        width: 70vw;
        margin-left: -65px;
    }

    .mapa-a1{
        width: 65vw;
    }
}
