
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/pexels-pixabay-356056.jpg);
    background-size:130%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body, main, footer{
    border: 3px; color: black;
    min-height: 50px;
}

.contain{
    display: flex;
}
.titulo-form{
    text-align: center;
    font-size: 20px;
    color: rgb(180, 167, 224);
    margin-top: 5vh;
}

h3{
    text-align: center;
    color: rgb(221, 221, 221);
    margin-top: 10px;
}

hr{
    width: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario{
    border-radius: 10px;
    margin-top: 10px;
}

.etiqueta{
    font-size: 15px;
    text-align: left;
    margin-left: 13px;
    color:white;
}
span{
    color: rgb(228, 21, 21);
    font-size: 15px;
}

.contact{
    width: 490px;
    height:auto;
    border-radius: 1px;
    background-color: var(--color-fondo-form);
    margin-top: 176px;
}

input{
    width: 408px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primario);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
}

.prioridad{
    margin: 20px;
}

textarea{
    width: 395px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primario);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 15px;
    text-align: left;
    margin-left: 13px;
}


#enviar{
    height: 30px;
    margin-left: 15px;
    background-color: transparent;
    border-color:var(--color-primario);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    color: #ffffff;
}

#enviar:hover{
    background-color: var(--color-fondo-header);
    color: #ffffff;
}

::placeholder{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
}

.leyenda{
    padding: 15px;
}

.contain-s1{
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 17vw;
    margin-top: 143px;
    height: auto;
}

.mapa{
    height: 35vh;
    width: 30vw;
    background-color: var(--color-fondo-form);
    text-align: center;
    border-radius: 5px;
    margin-top: 100px; 
}

.titulo-map{
    text-align: center;
    font-size: 20px;
    color: rgb(180, 167, 224);
}
.mapa-a1{
    height: 28vh;
    width: 27vw;
    margin-top: 10px;
}

.info{
    height: 34vh;
    width: 29vw;
    background-color:rgba(21, 21, 26, 0.891);
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.info-a1{
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.icon{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

@media screen and (max-width: 1024px) {


    body{
        background-size: cover; 
    }

    hr{
        margin-left: 44vw;
    }

    h3{
        margin-left: 4vw;
    }

    .titulo-form{
        margin-left: 3vw;
    }


    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: -5px;
    }

    .contain-s1{
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .info{
        background-color: var(--color-fondo-form);
        width: 50vw;
        padding: 10px;
    }

    .contact{
        width: 100%;
        text-align:center;
    }
    .email-s1{
        margin-left: 11px;
        
    }

    #enviar{
        margin-left: 90px;
    }

    .mapa{
        width: 40vw;
        margin-top: 5vw;
    }

    .mapa-a1{
        width: 35vw;
    }

    #consulta{
        vertical-align: top;
    }

    
}

@media screen and (max-width: 768px) {

    .contact{
        margin-top: 172px;
    }

    .titulo-form{
        margin-left: 7vw;
    }

    h3{
        margin-left: 10vw;
    }

    .mapa{
        width: 50vw;
        text-align: center;
    }

    .mapa-a1{
        width: 45vw;
    }    
}
