body {
    background: linear-gradient(250deg, rgb(133, 82, 191), rgb(4, 208, 240), rgb(44, 36, 82), rgb(255, 51, 202));
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#encabezado{
    background-image: url(../img/283818.jpg);
    height: 80vh; 
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center; 
    margin-top: 4vh;
}
main {
    width: 100vw;
    background: linear-gradient(250deg, rgb(133, 82, 191), rgb(4, 208, 240), rgb(44, 36, 82), rgb(255, 51, 202));
    background-size: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contain {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: url(../img/283818.jpg);
    background-size: cover;
    background-position: center; 
    height: auto; 
    min-height: 50vw;
    background-color: #f0f0f0; 
    padding: 10vh; 
    max-width: 1200px;
    height: 80vh;  
    margin-top: 6.8vw;
    margin-left: 32vw;
    
}


.formulario {
    display: inline block;
    width: 100%; 
    max-width: 500px; 
    background: transparent;
    border: 2px solid  rgb(240, 240, 240);
    backdrop-filter: blur(20px);
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 4vw;
    height: 45vw;
    align-content: center;
    font-size: 20px;
    height: 29vw;
}


.titulo-form {
    text-align: center;
    font-size: 32px;
    color: rgb(180, 167, 224);
    margin-bottom: 50px
}

.etiqueta {
    font-size: 15px;
    color: white;
    margin-left: 13px;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
.file {
    width: calc(100% - 26px); 
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--color-primario); 
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 10px; 
    font-size: 15px;
    box-sizing: border-box; 
}

input[type="file"] {
    padding: 7px; 
}

.obligatorio {
    color: rgb(228, 21, 21);
    font-size: 15px;
}


#enviar {
    height: 30px;
    width: 100%;
    margin-top: 20px; 
    background: transparent;
    border-radius: 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: all 0.6s ease;
    font-size: 16px;
}

#enviar:hover {
    background: transparent;
    box-shadow: 0 0 20px #ffffff;
     /* transform: scale(1.05);  */
    border-color: #ffffff;
}


.leyenda {
    text-align: center; 
    margin-top: 10px; 
    font-size: 14px;
    color: #666;
}  

.contact{

    width: 30vw;
}

#loginError{
    color: #ffd713;
    display: none;
    margin: 1vw 5vw;
}


@media screen and (min-width: 1600px) and (max-width: 2360px){
    main {
        width: auto;
    }
    
    
    .contain{
        height: auto;
        min-height: 66vh;
        padding: 5vh; 
        max-width: 100vw;
        margin-top: 9.9vw;
        margin-left: 35vw;
    }

    .formulario {
        padding: 5px; 
        width: 110%; 
        height: 36vw;
        margin-left: 2vw;
    }

    .titulo-form {
        font-size: 40px;
    }

}


@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contain {
        margin-top: 12vw;
        margin-left: 33vw;
    }

    .formulario {
        max-width: 100vw;
        margin-left: -1vw; 
        height: 45vw;
    }

    .titulo-form {
        font-size: 24px; 
    }

    .etiqueta {
        margin-left: 10px; 
    }
}

@media screen and (max-width: 1024px){

    .contain{
        margin-top: 31.2vw;
        height: 63vw;
    }

    .formulario{
        margin-left: -1.7vw;
        height: 62vw;
    }

}


@media screen and (max-width: 768px){

    .contain {
        margin-top: 45.5vw;
        max-height: 120vh;
        margin-left: 0;
        height: 93vw;
        width: 100vw;
    }

    .formulario {
        max-width: 100%; 
        height: 87vw;
    }

    .titulo-form {
        font-size: 25px;
        padding-bottom: 5vh;
        
    }

    .etiqueta {
        margin-left: 5px; 
    }

    .contact {
        width: 77vw;
    }


}


@media screen and (max-width: 425px){
    .contain {
        margin-top: 22.6vw;
        height: 85vh;
    }

    .formulario {
        max-width: 155%;
        width: 100vw;
        margin-left: -16vw;
        padding-left: 1vh; 
        padding-right: 0vh;
        padding-bottom: 2vh;
        box-sizing: border-box;
        height: 164vw;
    }

    .titulo-form {
        font-size: 26px; 
    }

    .etiqueta {
        margin-left: 5px; 
    }

    #enviar {
        font-size: 14px; 
        margin-left: -3px;
    }

    .contact {
        width: 58vw;
    }
}


@media screen and (max-width: 375px){
    .contain {
        margin-top: 25.2vw;
        width: 54vw;
        height: 197vw;
        padding: 23vw;
    }

    .formulario{
        height: 190vw;
    }
}

@media screen and (max-width: 320px) {

    .contain {
        margin-top: 29.8vw;
        height: 95vh;
    }
    
    .contact {
        width: 45vw;
    }

    .formulario{
        height: 215vw;
        width: 93vw;
        max-width: 200%;
        margin-left: -22vw;
    }
}