/*CARLOS: Desde acá hasta el final lo puse yo para que queden todos los pie de paginas iguales*/
.pie-pagina{
    background: linear-gradient(150deg, rgb(31, 41, 121, 0.9), rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9), rgb(185, 167, 227, 0.9));
    width: 100vw;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.pie-pagina > div {
    display: flex;
    flex: 1;
    width: 100vw;
    border-radius: 3px;
    background: linear-gradient(100deg, rgb(31, 41, 121, 0.9), rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9), rgb(185, 167, 227, 0.9));
}

.seccion-pie {
    flex: 1;
    float:inline-start;
    width: 33%;
}

.seccion-pie{
    font: bold 22px Arial, Helvetica, sans-serif;
    margin: 5px 10px 11px 0px !important;
}

.seccion-pie a{
    color: var(--color-texto-header);
    text-decoration: none;
    font: 16px Arial, Helvetica, sans-serif;
}
.terminos-s1 {
    text-align: center !important;
    margin: 10px 0px 0px 0px !important;
}
.seccion-pie > p {
    margin: 1px 0px 3px 4px !important;
}
.redes-img {
    flex: 1;
    height: 25px;
    padding: 6px;
    margin: 12px 40px 40px 42px;
    /* transition: .5s linear; */
}

.seccion-pie .copy {
    flex: 1;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 4px;
    margin-left: -292px;
    transition: .3s linear;
}

.titulo-sitio{
    margin-top: inherit;
    margin-left: 4px !important;
    font: bold 22px Arial, Helvetica, sans-serif !important;    
}  
.titulo-ayuda{
margin-top: inherit;
    text-align: left !important;
    margin-left: 55px !important;
    font-size: 22px !important;
}

.titulo-siguenos{
    margin-top: inherit;
    margin-left:130px !important;
    font-size: 22px !important;
}

p{
    text-indent: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    font: inherit;
}

h1{
    margin: inherit;
}

.copy-2{
    display: none;
}

@media screen and (max-width: 1024px) {
    .pie-pagina{
        width: 98vw;
    }

    .redes-img{
        margin-right: 20px;
    }

    .titulo-siguenos{
        margin-left: 120px !important;
    }

    .copy{
        margin-left: 58px !important;
    }
    
}

@media screen and (max-width: 768px){

    .pie-pagina{
        height: 120px;
        width: 98vw;
    }

    .redes-img{
        margin-right: 0px;
    }

    .titulo-siguenos{
        font-size: 18px !important;
        margin-left: 100px !important ;
        margin-top: -5px;
    }

    .copy{
        margin-left: -200px !important;
        font-size: 13px !important;
    }

    .redes-img{
        height: 20px;
        padding-top: 18px;
    }

    .titulo-sitio{
        font-size: 18px !important;
        margin-top: -5px;
}

    .titulo-ayuda{
        font-size: 18px !important;
        margin-top: -5px;
}

    .seccion-pie a{
        font-size: 14px !important;
}

    .seccion-pie{
        margin-bottom: 0px !important;
    }

    .seccion-pie > p {
        margin: 0px !important;
    }

    h1 {
        padding: inherit;
    }
}



@media screen and (max-width: 480px){
    .pie-pagina{
        width: 98%;
        text-align: center;
    }

    h1{
        font-size: 12px !important;
        margin-left: 10px !important;
    }
    .pie-pagina > div{
        width: 79%;
        text-align: center;
    }
    .seccion-pie{
        width: 79%;
        text-align: left;
        margin: 0px !important;
    }

    .terminos-s1{
        text-align: right !important;
        margin-left: 0px;
        font-size: 13px !important;
    }

    .hiperv{
        font-size: 12px !important;
    }
    .redes-img{
        margin-top: 30px;
        margin-right: -41px;
        padding: 2px;
        margin-bottom: 30px !important;
        height: 15px;
    }

    .copy{
        display: none;
    }
    
    .copy-2{
        display: block;
        margin-left: 55px;

    }

    .titulo-ayuda{
        margin-top: 0px;
        margin-left: 0px !important;
    }

    .titulo-sitio{
        margin-top: 0px;
        margin-left: 0px !important;
    }
    .titulo-siguenos{
        margin-top: 0px;
        margin-left: 36px !important;
    }

}    