/*CARLOS: Desde acá hasta el final lo puse yo para que queden todos los pie de paginas iguales*/
.pie-pagina{
    background: linear-gradient(150deg, rgb(31, 41, 121, 0.9), rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9), rgb(185, 167, 227, 0.9));
    width: 100vw;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.pie-pagina > div {
    display: flex;
    flex: 1;
    width: 100vw;
    border-radius: 3px;
    background: linear-gradient(100deg, rgb(31, 41, 121, 0.9), rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9), rgb(185, 167, 227, 0.9));
}

.seccion-pie {
    flex: 1;
    float:inline-start;
    width: 33%;
}

.seccion-pie{
    font: bold 22px Arial, Helvetica, sans-serif;
    margin: 5px 10px 11px 36px;
}

.seccion-pie a{
    color: var(--color-texto-header);
    text-decoration: none;
    font: 16px Arial, Helvetica, sans-serif;
}
.terminos-s1 {
    text-align: center;
    margin: 10px 0px 0px 50px;
}
.seccion-pie > p {
    margin: 1px 0px 3px 4px;
}
.redes-img {
    flex: 1;
    height: 25px;
    padding: 6px;
    margin: 12px 40px 45px 40px;
    /* transition: .5s linear; */
}

.seccion-pie .copy {
    flex: 1;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 4px;
    margin-left: -292px;
    transition: .3s linear;
}

.titulo-sitio{
    margin-left: 4px;
    font: bold 22px Arial, Helvetica, sans-serif;    
}  
.titulo-ayuda{
    text-align: left;
    margin-left: 55px;
    font-size: 22px;
}

.titulo-siguenos{
    margin-left:130px;
    font-size: 22px;
}


@media screen and (max-width: 2560px){
    .terminos-s1{
        width: 25%;
    }
    .copy {
        font-size: 22px;
    }
}    

@media screen and (max-width: 768px) and (max-width: 1024px) {
    .pie-pagina{
        width: 100% !important;
        text-align: center;
    }
    .pie-pagina > div{
        width: 98%;
        text-align: center;
    }
    .seccion-pie{
        width: 95%;
        text-align: center;
    }
    .seccion-pie h1{
        margin: 5px 100px 11px 90px;

    }
    .terminos-s1{
        text-align: center;
        margin: 1px 10px 0px 10px;
        padding: 0px;
        width: 25%;

    }
    .seccion-pie > p {
        margin: 1px 10px 0px 10px;
    }
    .redes-img{
        margin: 8px 10px 30px 5px;
        padding: 3px;
    }

    .seccion-pie .copy{
        padding: 10px;
        margin-left: -200px;
    }
}
/* @media screen and (max-width: 375px) and (max-width: 425px) {
    footer{
        max-width: 100vw;
    }
    .pie-pagina{
        max-width: 100vw;
    }
    .terminos{
        padding-left: 120px;
    }
} */

@media screen and (max-width: 480px){
    .pie-pagina{
        width: 100%;
        text-align: center;
    }

    h1{
        font-size: 12px !important;
        margin-left: 10px !important;
    }
    .pie-pagina > div{
        width: 79%;
        text-align: center;
    }
    .seccion-pie{
        width: 79%;
        text-align: left;
    }

    .terminos-s1{
        text-align: left !important;
        margin-left: 0px;
        font-size: 13px !important;
    }

    .hiperv{
        font-size: 12px !important;
    }
    .redes-img{
        margin: 8px 10px 30px 0px;
        padding: 2px;
        margin-bottom: 0px !important;
    }
    
    .copy{
        font-size: 12px !important;
        margin-left: -150px !important;
        margin-bottom: -50px !important;
    }

    .redes-img{
        height: 15px;
        margin-bottom: 60px !important;
        margin-top: 10px !important;
    }

}    