:root{
    --color-primario: #1f2979;
    --color-secundario: #3d478e;
    --color-terciario: #574695;
    --color-fondo-header: rgb(185, 167, 227);
    --color-texto-header:#fffdfd;
    --color-fondo-body: #ffffff;
    --color-texto-body: #010101;
    --barra-input-color: #4f31572c;
    --color-fondo-form: rgba(0, 0, 0, 0.7);
    --color-fondo-texto: #5BA7CF;

}

*{
    margin: 0;
    padding: 0;
}
/*CARLOS: Desde acá hasta body inclusive lo puse yo para que queden todos headers iguales*/

header{
    background:linear-gradient(150deg,rgb(31, 41, 121, 0.9) , rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9),rgb(185, 167, 227, 0.9));
    color: var(--color-texto-header);
    text-align: center;
    position: fixed;
    padding: 1% 1%;
    top: 0;
    width: 100vw;
    z-index: 1000;

}
#logo{
    width: 150px;
    height: 144px;
    box-sizing: var(--color-fondo-body);
    margin-right: 350px;
}
.hipervinculo{
    color: var(--color-texto-header);
    text-decoration: none;
    margin-left: 50px;
}

.menu{
    display:inline-block;
    vertical-align: middle;
}

.menu ul{
    float: right;
    margin-right: 20px;

}
.menu ul li{
    display: inline-block;
    line-height: 150px;
    margin: 0 5px;
}
.menu ul li:hover{
    transform: scale(1.1);

}
.menu ul li a{
    color: var(--color-texto-header);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 13px;
    border-radius: 3px;
    transition: .3s linear;
}
.menu ul li a:hover{
    color: #9d92b2;
    transform: scale(1.1);
}

@media screen and (max-width: 2560px){
    #logo{
        margin-right: 10vw;
    }
    .menu ul li a {
        font-size: 22px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    #logo{
        margin-right: 36vw;
    }
    .menu ul li a {
        font-size: 18px;
    }
}
@media screen and (max-width: 320px) and (max-width: 1280px) {
    header{
        justify-content: 100%;
    }
    .menu{
        text-align:justify;
    }
    .hipervinculo{
        text-align: center;
        display: block;
        justify-content: center;
        margin: 40px 10px 20px 10px;
    }
    #logo{
        margin-right: 200px;
    }

}
*/


@media screen and (max-width: 1024px) {

    #logo{
        margin-right: 0px;
        
    }
    
} 