* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color-fondo-body);
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;

}


main {
    width: 100vw;
    background: linear-gradient(250deg, rgb(133, 82, 191), rgb(4, 208, 240), rgb(44, 36, 82), rgb(255, 51, 202));
    background-size: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: justify; */
}

/* Estilo que se usrá desde js para que al recorrer la página
el encabezado cambie de color */
/*
.scrolled {
    background-color: var(--color-secundario);
} */
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1400px;
    width: 1151px;
    padding-top: 185px;
    margin: 0 auto;
    border-radius: 5px;
}

#banner {

    background: url(../img/vecteezy_digital-transformation-technology.png) no-repeat;
    background-size: cover;
    float: left;
    max-width: 100%;
    width: 100%;
    height: 500px;
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
    text-align: left;
}
/* 
.recuperar {
    clear: both;
} */

h1 {

    text-align: left;
    color: var(--color-texto-body);
    display: relative;
    justify-content: left;
    font-size: 5rem;
    margin: 5vh 5vw 3vh 3vw;
}


#banner h2 {
    position: relative;
    width: 40vw;
    height: 5vh;
    margin: 0px 0px 20px 35px;
    padding: 10px;
    text-align: left;
    justify-content: left;
    color: var(--color-texto-body);
    font-size: 2rem;


}

#texto-banner {
    color: var(--color-texto-header);
    text-decoration: none;
    transform: scale(1.1);
    padding: 0vh;
    margin-left: 55vw;
    font-size: 2vw;
    font-weight: 550;
    text-align: right;
    justify-content: left;
}
/* 
#search {
    text-align: center;
    font-size: 2.5vw;

    position: relative;
    width: 45vw;
    height: 2vh;
    margin: 30px 0px 10px 200px;
    padding: 35px;
    color: var(--color-texto-body);
    font-family: "Sedan", serif;
    font-style: normal;
}

#input-search {
    background-color: var(--barra-input-color);
    border: 1px solid var(--color-fondo-header);
    border-radius: 25px;
    color: black;
    font-size: 16px;
    height: 30px;
    margin: 5vh 0vw 5vh 18vw;
    outline: none;
    padding: 0px 20px;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

} */


.contenedor-cards {

    width: 78vw;
    height: auto;
    margin-top: -40vh;
    gap: 15vh;
}

.ppal-content {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    column-gap: 3vw;
    border: 2px solid var(--barra-input-color);
    padding: 0px;
    margin-top: 15vh;
    margin-left: 2vw;
    background-color: var(--barra-input-color);
}

.contenedor-cards h3 {
    margin: 30vh 0vw 0vh 14vw;
    width: 70vw;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: var(--color-texto-body);
    text-align: center;
    /* font-size: 2vw; */
    font-family: "Sedan", serif;
    font-weight: 600;
    font-style: normal;
    
}

.contenedor-cards .card {

    box-shadow: 2px 2px 2px 2px rgb(91, 90, 90);
    text-align: center;
    border-radius: 0.5%;
    margin: 10vh 0.5vw 5vh 0.5vw;
    /* display: flex;
    justify-content: center; */

}
.card img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.card img {
    transition: transform 0.3s ease-in-out;

}

.card img:hover {
    transform: scale(1.2);
}

.contenedor-cards .title-animation {
    font-weight: 150;
    color: var(--color-primario);
    text-align: center;
    margin: 4vh 2vw 2vh 2vw;
    font-size: 22px;
    font-family: "Sedan", serif;
    font-weight: 600;
    font-style: normal;
    justify-content: center;
}

.contenedor-cards .subtitle {
    text-align: center;
    color: var(--color-texto-body);
    border-radius: 2px;
    font-size: 1.5vw;
    padding: 10px;
}

.subtitle:hover {
    background: linear-gradient(150deg, rgb(31, 41, 121, 0.9), rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9), rgb(185, 167, 227, 0.9));

}

.contenedor-cards .imagen-borde {
    width: 16vw;
    height: 25vh;
    margin: 15px 28px 15px 30px;
    /* justify-content: center; */
    border-radius: 5px;
    border: 1px solid var(--color-fondo-body);
}

.contenedor-cards .texto {
    max-width: 100vw;
    width: 27.5vw;
    height: 63vh;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--color-fondo-body);
    padding: 10px;
    margin: 1px 8px 0px 8px;   
    writing-mode: horizontal-tb;
    justify-content: center;

}

.contenedor-cards .texto p {

    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--color-texto-body);
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 3rem;
    margin: 30px;
}


@media screen and (max-width: 2560px) {
    .contenedor{
    max-width: 2560px;
    width: 2000px;
    padding-top: 180px;
    margin: 24px 4px 0px 0px;
    border-radius: 5px;

    }
    #banner {
        width: 100%;
        padding-top: 260px;
    }

    h1 {
        margin: -13vh 0vw 7vh 1vw;
        padding: 0vh;
        font-size: 10rem;
    }

    #banner h2 {
        margin-left: 1vh ;
        padding: 1vh;
        font-size: 5rem;
    }

    #texto-banner {
        padding: 1vh;
        float: right;
        margin-right: 48px;
    }

    /* #search {
        margin: 6vh 0vw 3vh 18vw;
    }

    #input-search {
        margin: 3vh 8vw 1vh 20vw;
    } */
    .contenedor-cards {
        width: 78vw;
        margin-top: 8vh;
    

    }
    .contenedor-cards h3 {
        margin: -6vh 0vw -13vh 3vw;
        font-size: 2.5em;
    }

    .ppal-content {
        width: 72vw;
        margin: 16vh 0vw 0vh 1vw;
        padding: 4vh;

    }

    .contenedor-cards .card {
        margin: 3vh -2vw 3vh 0vw;
        width: 614px;
    }

    .card .title-animation {
        margin: 0vh 0vw 2vh 2vw;
        font-size: 4rem;
        font-weight: bolder;
    }

    .card .subtitle {
        font-size: 3rem;
        padding: 2vw;
    }

    .card .texto {
        width: 22vw;
        margin-top: 2vh;
    }
    .contenedor-cards .texto p {
        font-size: 2rem;
    }


}

@media screen and (max-width: 1440px) {
    .contenedor{
        max-width: 1440px;
        width: 912px;
        padding-top: 170px;
        margin: 10px 1px 0px 5px;
    
        }

    #banner {
        width: 64vw;
        height: auto;
    }

    h1 {
        margin: -31vh 0vw 0vh 1vw;
        padding: 0vh;
        font-size: 4rem;
    }
    #banner h2 {
        margin-left: -3vw;
        padding: 7vh;
        font-size: 2.5rem;
    }
    #texto-banner {
        margin: -50px 11px 0px 0px;
        float: right;
    }
/* 
    #search {
        margin: 2vh 5vw 0vh 10vw;

    }

    #input-search {
        justify-content: center;
        margin: 2vh 0vw 0vh 15vw;
    } */


    .contenedor-cards {
        width: 66vw;
        height: auto;
        margin-top: 6vh;
    }

    .contenedor-cards h3 {
        width: 36vw;
        font-size: 2em;
        margin: 0vh 0vw -9vw 15vw;
    }
    .ppal-content {
        width: 63vw;
        margin: 6vh 0vw 0vh -2vw;
        padding: 2vh;

    }

    .contenedor-cards .card {
        margin: 8vh -1vw 1vh -1vw;
        width: 300px;
    }

    .card .title-animation {
        margin: 2vh 0vw 2vh 2vw;
        font-size: 2rem;
        font-weight: bolder;
    }

    .card .subtitle {
        font-size: 2rem;
        padding: 2vw;
    }
    .contenedor-cards .imagen-borde {
        width: 19vw;
        height: 22vh;
    }

    .card .texto {
        width: 23vw;
        margin-top: 2vh;
    }
    .card .texto p {
        font-size: 1.2rem;
        margin: 20px;
    }

}

@media screen and (max-width: 1024px) {
    .contenedor {
        max-width: 1024px;
        width: 732px;
        padding-top: 163px;
        margin: 10px 0px 0px 2px;
    }
    #banner {
        width: 72vw;
        height: auto;
    }

    h1 {
        margin: -41vh 0vw 9vh 2vw;
        padding: 0vh;
        font-size: 4rem;
    }

    #banner h2 {
        margin-left: -1vw;
        padding: 5vh;
        font-size: 2rem;
    }
    #texto-banner{
        margin: 8px 8px 0px 0px;
    }

    .contenedor-cards {
        width: 69vw;
        height: auto;
        margin: 11px;
    }
    .contenedor-cards h3 {
        margin: 1vh 0vw 0vh 8vw;
        width: 52vw;
        font-size: 2em;
    }
    .ppal-content {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(1, 800px);
        justify-content: center;
        grid-column: (1, 450px);
        height: 260vh;
        width: 69.5vw;
        margin-top: -9vh;
    }
    .card {
        height: 120vh;
    }
    .card .subtitle {
        margin-left: 0vw;
        font-size: 1.8rem;
    }
    .contenedor-cards .imagen-borde {
        width: 25vw;
        height: 30vh;
    }
    .card .texto {
        margin-top: -2vh;  
        width: 32vw;
        margin-left: 2vw;
        font-size: 1.5vw;
        height: 56vh;
    }
    .contenedor-cards .texto p {
        font-size: 1rem;
        margin: 0px 30px 0px 10px ;
}
}
@media screen and (max-width: 768px) {
    .contenedor {
        max-width: 768px;
        width: 70vw;
        padding-top: 206px;
        margin: 8px 0px 0px 1px;
    }
    #banner {
        width: 72vw;
        height: auto;
    }
    h1 {
        margin: -34vh 0vw 0vh 2vw;
        padding: 2vh;
        font-size: 2rem;
    }
    #banner h2 {
        margin-left: -6vw;
        padding: 12vh;
        font-size: 1.5rem;
    }
    #texto-banner {
        margin: -70px 3px 0px 0px;
    }
    /* #search {
        margin: 8vh 7vw 4vh 10vw;
    }
    #input-search {
        justify-content: center;
        margin: 4vh 0vw 6vh 15vw;
    } */
    .contenedor-cards {
        width: 70vw;
        height: 321vh;
        margin: 2px;
    }
    .contenedor-cards h3 {
        margin: 1vh 0vw -15vh 11vw;
        font-size: 1.5em;
    }

    .ppal-content {
        display: grid;
        grid-template-columns: repeat(1, 355px);
        grid-template-rows: repeat(3, 650px);
        justify-content: center;
        column-gap: 1.5vw;
        padding: 0px;
        margin-left: 0vw;
        height: 330vh;
    }
    .contenedor-cards .card {
        height: 98vh;
        width: 400px;
        margin-top: 107px;
    }
    .subtitle {
        margin-left: 0vw;
    }
    .contenedor-cards .imagen-borde {
        width: 30vw;
        height: 26vh;
        margin: 15px 20px 15px 20px;
    }
    .contenedor-cards .texto {
        max-width: 100vw;
        width: 48vw;
        height:auto;
        padding: 5px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .contenedor-cards .texto p {
        font-size: 1rem;
        margin: 5px 10px 0px 5px;
    }

}

@media screen and (max-width: 425px) {
    .contenedor {
        max-width: 425px;
        width: 50vw;
        padding-top: 150px;
    }
    #banner {
        width: 900%;
        height: auto;
    }
    h1 {
        margin: -33vh 0vw -4vh 2vw;
        padding: 2vh;
        font-size: 2rem;
    }
    #banner h2 {
        margin-left: -2vw;
        padding: 7vh;
        font-size: 1.5rem;
    }
    #texto-banner {
        margin: -70px 3px 0px 0px;
    }
    #search {
        margin: 8vh 7vw 4vh 10vw;
    }
    #input-search {
        justify-content: center;
        margin: 4vh 0vw 6vh 15vw;
    }
    .contenedor-cards {
        width: 100vw;
        height: auto;
        margin: 2px;
    }
    .contenedor-cards h3 {
        margin: 0vh 0vw -7vh 20vw;
        width: 40vw;
    }

    .ppal-content {
        display: grid;
        grid-template-columns: repeat(1, 245px);
        grid-template-rows: repeat(1, 710px);
        justify-content: center;
        column-gap: 1.5vw;
        padding: 0px;
        margin-top: 9vh;
        margin-left: 0vw;
    }
    .card {
        height: 106vh;
    }
    .subtitle {
        margin-left: 0vw;
    }
    .contenedor-cards .imagen-borde {
        width: 25vw;
        height: 22vh;
        margin: 7px 13px 10px 16px;
    }
    .contenedor-cards .texto {
        max-width: 100vw;
        width: 29.5vw;
        height:auto;
        padding: 0px;
        margin-top: 5px;
        margin-left: 4px;
    }
    .contenedor-cards .texto p {
        font-size: 1rem;
        margin: 5px 10px 0px 5px;
    }

}

/*@media screen and (max-width:320px)  {
    
}

@media screen and (max-width: 375px){
    .contenedor
} */