* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color-fondo-body);
    /*(Imagen de rawpixel*com en Freepik);  COLOCAR IMAGEN PARA EL FONDO */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;

}


main {
    width: 100vw;
    background: linear-gradient(250deg, rgb(133, 82, 191), rgb(4, 208, 240), rgb(44, 36, 82), rgb(255, 51, 202));
    background-size: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: justify;
}

/* Estilo que se usrá desde js para que al recorrer la página
el encabezado cambie de color */
/*
.scrolled {
    background-color: var(--color-secundario);
} */
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1400px;
    width: 1151px;
    padding-top: 185px;
    margin: 0 auto;
    border-radius: 5px;
    /* background-image: url(../img/golden-frame-blue-background.png); */
    /* <a href="https://www.freepik.es/foto-gratis/marco-oro-sobre-fondo-azul_4413670.htm#fromView=search&page=1&position=30&uuid=98d2489b-bbe4-4e9b-b1ce-9062882d56a4">Imagen de rawpixel.com en Freepik</a> */
}

#banner {

    background: url(../img/vecteezy_digital-transformation-technology.png) no-repeat;
    background-size: contain;
    float: left;
    max-width: 100%;
    width: 100%;
    height: 350px;
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
    text-align: left;
}

.recuperar {
    clear: both;
}

h1 {

    text-align: left;
    color: var(--color-texto-body);
    display: relative;
    justify-content: left;
    font-size: 5rem;
    margin: 5vh 5vw 3vh 3vw;
}


#banner h2 {
    position: relative;
    width: 40vw;
    height: 5vh;
    margin: 0px 0px 20px 35px;
    padding: 10px;
    text-align: left;
    justify-content: left;
    color: var(--color-texto-body);
    font-size: 2rem;


}

#texto-banner {
    color: var(--color-texto-header);
    text-decoration: none;
    transform: scale(1.1);
    padding: 0vh;
    margin-left: 55vw;
    font-size: 2vw;
    font-weight: 550;
    text-align: right;
    justify-content: left;
}

#search {
    text-align: center;
    font-size: 2.5vw;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    position: relative;
    width: 45vw;
    height: 2vh;
    margin: 30px 0px 10px 200px;
    padding: 35px;
    color: var(--color-texto-body);
    font-family: "Sedan", serif;
    /* font-weight: 400; */
    font-style: normal;
}

#input-search {
    background-color: var(--barra-input-color);
    border: 1px solid var(--color-fondo-header);
    border-radius: 25px;
    color: black;
    font-size: 16px;
    height: 30px;
    margin: 5vh 0vw 5vh 18vw;
    outline: none;
    padding: 0px 20px;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* animacion */
#cambiarImagen {
    background-image: url("../img/pexels-eli-sommer-3992776.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh;

    animation-name: cambiarImagen;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    position: relative;
    justify-content: center;
    margin: 0vh 35vw 0vh 35vw;
}

@keyframes cambiarImagen {
    0% {
        background-image: url("../img/pexels-mikhail-nilov-6893376.png");
    }

    25% {
        background-image: url("../img/istockphoto-1206796363-1024x1024.gif");
    }

    50% {
        background-image: url("../img/istockphoto-1459941554-1024x1024.png");
    }

    75% {
        background-image: url("../img/IdearepresentativadeLogo-removebg-preview.png");
    }

    100% {
        background-image: url("../img/vecteezy_digital-transformation-technology.png");
    }
}

/* #animacion{
    background-image: url(`../img/Chromebook.jpg`);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--color-fondo-header);
    animation-name: cambiar;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotate(5deg) scale(2, 2) translate(20px, 40px);
}
@keyframes cambiar {
    0% {background-image: url(`../img/asus-zenbook-14-oled.png`);}
    25% {background-image: url(`../img/hp-spectre-x360-13-5-front-angled.png`);}
    50% {background-image: url(`../img/macbook-air-m2-1.png`);}
    75% {background-image: url(`../img/del-xps-13.png`);}
    100% {background-image:url(`../img/thinkpadz13.jpg`);}
} */

.contenedor-cards {

    width: 100vw;
    height: auto;
    margin-top: 20vh;
    gap: 15vh;
}

.ppal-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    column-gap: 3vw;
    border: 2px solid var(--barra-input-color);
    padding: 0px;
    margin-top: 15vh;
    margin-left: 2vw;
    background-color: var(--barra-input-color);
}

.contenedor-cards h3 {
    margin: 30vh 0vw 0vh 14vw;
    width: 70vw;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: var(--color-texto-body);
    text-align: center;
    /* font-size: 2vw; */
    font-family: "Sedan", serif;
    font-weight: 600;
    font-style: normal;
}

.contenedor-cards .card {

    box-shadow: 2px 2px 2px 2px rgb(91, 90, 90);
    text-align: center;
    border-radius: 0.5%;
    margin: 10vh 0.5vw 5vh 0.5vw;

}

.card img {
    transition: transform 0.3s ease-in-out;

}

.card img:hover {
    transform: scale(1.2);
}

.contenedor-cards .title-animation {
    font-weight: 150;
    color: var(--color-primario);
    text-align: center;
    margin: 4vh 2vw 2vh 2vw;
    font-size: 22px;
    font-family: "Sedan", serif;
    font-weight: 600;
    font-style: normal;
    justify-content: center;
}

.contenedor-cards .subtitle {
    text-align: center;
    color: var(--color-texto-body);
    border-radius: 2px;
    font-size: 1.5vw;
    padding: 10px;
}

.subtitle:hover {
    background: linear-gradient(150deg, rgb(31, 41, 121, 0.9), rgb(61, 71, 142, 0.9), rgb(87, 70, 149, 0.9), rgb(185, 167, 227, 0.9));

}

.contenedor-cards .imagen-borde {
    width: 16vw;
    height: 25vh;
    margin: 15px 28px 15px 30px;
    /* justify-content: center; */
    border-radius: 5px;
    border: 1px solid var(--color-fondo-body);
}

.contenedor-cards .texto {
    max-width: 100vw;
    width: 27.5vw;
    height: 63vh;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--color-fondo-body);
    padding: 10px;
    margin: 1px 8px 0px 5px;
    margin-left: 8px;
    writing-mode: horizontal-tb;
    justify-content: center;

}

.contenedor-cards .texto p {

    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--color-texto-body);
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 3rem;
    margin: 30px;
}


@media screen and (max-width: 2560px) {
    .contenedor{
    max-width: 2600px;
    width: 2000px;
    padding-top: 180px;
    margin: 23px 190px 0px 5px;
    border-radius: 5px;

    }
    #banner {
        width: 500%;
        padding-top: 200px;
    }

    h1 {
        margin: 0vh 0vw 0vh 2vw;
        padding: 0vh;
    }

    h2 {
        margin: 3vh 0vw 5vh 1vw;
        padding: 2vh;
    }

    #texto-banner {
        padding: 3vh;
    }

    #search {
        margin: 6vh 0vw 3vh 22vw;
    }

    #input-search {
        margin: 3vh 10vw 1vh 15vw;
    }

    h3 {
        margin: 3vh 0vw 2vh 0vw
    }

    #ppal-content {
        width: 68.5vw;
        margin: 1vh;

    }

    .card {
        margin: 3vh 1vw 3vh 1vw;
    }

    .title-animation {
        margin: 0vh 3vw 4vh 2vw;
        font-size: 1vw;
        font-weight: bolder;
    }

    .subtitle {
        font-size: xx-large;
        padding: 1vw;
    }

    .texto {
        width: 20vw;
    }


}

@media screen and (max-width: 1440px) {
    .contenedor{
        max-width: 1440px;
        width: 993px;
        padding-top: 172px;
        margin: 10px 80px 0px 5px;
    
        }

    #banner {
        width: 70vw;
    }

    h1 {
        margin: -22vh 3vw 5vh 3vw;
        padding: 0vh;
    }
    #texto-banner {
        margin: -50px -3px 0px 0px;
        float: right;
    }

    #search {
        margin: 2vh 5vw 0vh 10vw;

    }

    #input-search {
        justify-content: center;
        margin: 2vh 0vw 0vh 15vw;
    }

    .contenedor-cards h3 {
        margin: 8vh 0vw 0vh 14vw;
        width: 65vw;
    }

    .contenedor-cards {
        width: 100vw;
        height: auto;
        margin: 20px;
    }


}

@media screen and (max-width: 1024px) {
    .contenedor {
        max-width: 1024px;
        width: 718px;
        padding-top: 163px;
        margin: 10px 0px 0px 2px;
    }
    #banner {
        width: 70vw;
        height: auto;
    }

    h1 {
        margin: -28vh 0vw 1.5vh 2vw;
        padding: 0vh;
        font-size: 3rem;
    }

    #banner h2 {
        margin-left: -1vw;
        padding: 5vh;
        font-size: 2rem;
    }
    #texto-banner{
        margin: -50px 8px 0px 0px;
    }

    .contenedor-cards {
        width: 100vw;
        height: auto;
        margin: 12px;
    }
    .contenedor-cards h3 {
        margin: 8vh 0vw 0vh 6vw;
        width: 55vw;
    }
    #ppal-content {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(1, 600px);
        justify-content: center;
        margin-right: 2vw;
        /* height: 82vh; */
    }
    .card {
        height: 120vh;
    }
    .subtitle {
        margin-left: 0vw;
    }
    .texto {
        
        width: 20vw;
        margin-left: 1.5vw;
        font-size: 1.5vw;
    }
    .contenedor-cards .texto p {
        font-size: 1rem;
        margin: 0px 30px 0px 10px ;
}

@media screen and (max-width: 768px) {
    .contenedor {
        width: 100vw;
    }

    #ppal-content {
        display: grid;
        grid-template-columns: repeat(1, 600px);
        grid-template-rows: repeat(1, 600px);
        justify-content: center;
    }

}
/* 
@media screen and (min-width:320px) and (min-width: 375px) and (max-width: 425px) {

    #banner {
        width: 90vw;
        height: 100px;
    }

    h1 {
        width: 10vw;
        height: 3vh;
        margin: 80px;
    }

    h2 {
        width: 8vw;
        height: 2vh;
    }

    #texto-banner {
        margin: 0px 5px 12px 5px;
        transform: scale(1.1);
        padding: 10px;
        font-size: 3vw;
        font-weight: 300;
        text-align: left;
    }

    #search {
        text-align: center;
        font-size: 1.5vw;
        width: 30vw;
        height: 2vh;
        margin: 40px 0px 40px 250px;
        padding: 20px;


        .ppal-content {
            width: 300px
        }

    }
}*/