/* Posibles paleta de colores,a modificar */
:root{
    --color-primario: #574695ea;
    --color-secundario: #28359ae7;
    --color-fondo-header: #b9a7e3e7;
    --color-texto-header:#fffdfd;
    --color-fondo-body: #ffffff;
    --color-texto-body: #010101;
}


*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/*CARLOS: Desde acá hasta body inclusive lo puse yo para que queden todos headers iguales*/
header{
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-header);
    text-align: center;
    
}
#logo{
    width: 90px;
    height: 90px;
    box-sizing: var(--color-fondo-body);
    margin-right: 400px;
}
.hipervinculo{
    color: var(--color-texto-header);
    text-decoration: none;
    margin-left: 75px;
}

.menu{
    display:inline-block;
    vertical-align: middle;
}

body{
    background-image: url(../img/pexels-karolina-grabowska-5632381.png);  /*COLOCAR IMAGEN PARA EL FONDO*/
    background-size: cover;
    background-color: var(--color-fondo-header);
}
/* Estilo que se usrá desde js para que al recorrer la página 
el encabezado cambie de color */
.scrolled{
    background-color: var(--color-secundario);
}
#banner{
    background-image: url(../img/banner-plantilla-de-fondo.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    padding-top: 100px;
}
.img-container-banner{
    width: 100vw;
    height: 75vh;
} 

h1{

    font-size: 5vw;
}
h2{
    
    font-size: 3vw;
}
h1,h2 {
    padding: 10px;
    color: var(--color-texto-body);
    text-align: center;
}
h3{
    padding: 10px;
    color: var(--color-primario);
    text-align: center;
    font-size: 3vw;
}

#search{
    color: var(--color-primario);
    text-align: center;
}
.input-search{
    background-color: var(--barra-input-color);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: 22px 190px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    min-height: 80px;
    border: 40px;
}

aside{
    float: right;
    background-color: var(--color-fondo-header);
    width: 27vw;
    margin: 5px 5px 5px;
    height: max-content;
    box-sizing: border-box;
    border: 30px; color: var(--color-secundario);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--color-primario);

}
#aside-container{
    width: 250px;
    max-width: 80%;
    height: auto;
    border: 5px solid var(--color-fondo-header);
    padding: 13px;
    margin: 13px;
    position: unset;
    text-align: center;

}
#aside-list{
    text-decoration: none;
    margin-left: 1vw;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-texto-header);
    padding-top: 10px;
    padding-bottom: 10px;
    
        
}
    
#texto-aside {
    background-color: var(--color-fondo-header);
    width: 230px;
    max-width: 90%;
    margin-left: 20px;
    height: auto;
    text-align: justify;
    color: var(--color-texto-body);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--color-secundario);
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
    position:relative;
    display: inline-block;
    



}
h4{
    
    font-weight: 400;
    text-align: center;
    color: var(--color-texto-body);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle{
    text-align: center;
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-body);
    border-radius: 4px;
    font-size: 2vw;
}
#title-animation{
    
    font-weight: 600;
    color: var(--color-secundario);
    text-align: center;

}
p{
    background-color: rgb(252, 251, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: var(--color-texto-body);
    text-align: center;
    border-radius: 5%;
}


.texto{
    width: 360px;
    max-width: 100%;
    height:auto;
    border: 1px solid var(--color-fondo-body);
    padding: 10px;
    margin: 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    justify-content: center;

}
.card{
    display: inline-block;
    position: relative;
    background-color: var(--color-fondo-body);
    max-width: 400px;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px 2px rgb(91, 90, 90);
    text-align:center;
    border-radius: 1%;
    overflow:hidden;
    margin-right: 10px;
    margin-top: 5px;
}
.article{
    display: inline-block;
    background-color: var(--barra-input-color);
    max-width: 400px;
    width: 100%;
    height: auto;
    border: 2px solid var(--barra-input-color);
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 2vw;
    top: 2vw;
}
/*CARLOS: Desde acá hasta el final lo puse yo para que queden todos los pie de paginas iguales*/
footer{
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-header);
}
.pie-pagina{
    color: var(--color-texto-header);
    text-decoration: none;
    text-align: right;
    padding-top: 10px;
}
.terminos{
    margin-right: 150px;
    font-size: 15px;
    text-align: center;
    padding-left: 150px;
    padding-bottom: 20px;
}
.redes{
    color: var(--color-texto-header);
    text-align: center;
    vertical-align:bottom;
    padding-bottom: 5px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes-img{
    height: 15px;
}

.terminos-s1{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}
/* Agregué al copyright la opcion para q no se traduzca en todos los html. No modificar. */
/* .copy{
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */