
/* Posibles colores,a modificar */
:root{
    --color-primario: #1f2979;
    --color-secundario: #3d478e;
    --color-terciario: #574695;
    --color-fondo-header: #b9a7e3;
    --color-texto-header:#fffdfd;
    --color-fondo-body: #ffffff;
    --color-texto-body: #010101;
    --barra-input-color: #4f31572c;
    --color-fondo-form: rgba(0, 0, 0, 0.622);
    --color-fondo-texto: #5BA7CF;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url(../img/istockphoto-1341630209-1024x1024.jpg); /*CAMBIAR IMAGEN*/
    background-size: cover;

}

body, main, footer{
    border: 3px; color: black;
    min-height: 50px;
}
/* animacion */
/*#cambiarImagen {
    background-image: url("../img/pexels-eli-sommer-3992776.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    position: relative;
    justify-content: center;
    margin: 30vh 10vw 10vh 20vw;
    animation-name: cambiar;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count:infinite;
}

/*@keyframes cambiar {
    0% {
        background-image: url("../img/istockphoto-1157740043-1024x1024.png");
    }

    25% {
        background-image: url("../img/istockphoto-1206796363-1024x1024.gif");
    }

    50% {
        background-image: url("../img/istockphoto-1206796363-1024x1024.png");
    }

    75% {
        background-image: url("../img/IdearepresentativadeLogo-removebg-preview.png");
    }

    100% {
        background-image: url("../img/pexels-pixabay-356056.jpg");
    }
}

h3 {
    margin-top: 10px;
    padding: 10vw;
    width: 85vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-texto-body);
    text-align: center;
    font-size: 2vw;


}

p {
    background-color: rgb(252, 251, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: var(--color-texto-body);
    text-align: center;
    border-radius: 5%;
}
