/* Posibles colores,a modificar */
:root {
  --color-primario: #1f2979;
  --color-secundario: #3d478e;
  --color-terciario: #574695;
  --color-fondo-header: #b9a7e3;
  --color-texto-header: #fffdfd;
  --color-fondo-body: #ffffff;
  --color-texto-body: #010101;
  --barra-input-color: #4f31572c;
  --color-fondo-form: rgba(0, 0, 0, 0.622);
  --color-fondo-texto: #5ba7cf;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  width: 100vw;
  height: auto;
  margin-top: 190px;
  background: linear-gradient(
    250deg,
    rgb(133, 82, 191),
    rgb(4, 208, 240),
    rgb(44, 36, 82),
    rgb(255, 51, 202)
  );
  background-size: contain;
}

body {
  background: linear-gradient(
    250deg,
    rgb(133, 82, 191),
    rgb(4, 208, 240),
    rgb(44, 36, 82),
    rgb(255, 51, 202)
  );
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.presentacion {
  width: 100vw;
  height: auto;
}
#titulo-present {
  margin: -1vh 10vw 23vh 12vw;
  padding-top: 15vh;
  font-size: 4rem;
  text-align: center;
  font-family: "Sedan", serif;
  font-weight: 700;
}

.imagen-present {
  width: 100vw;
  height: auto;
  float: center;
  max-width: 100vw;
  box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
  border-radius: 10px;
}
.mision-div {
  width: 95%;
  height: auto;
  margin: 5vh;
}

.misionT {
  font-family: "Sedan", serif;
  color: var(--color-texto-body);
  text-align: left;
  font-size: 3rem;
}

.mision {
  font-family: "Sedan", serif;
  font-size: 1.5rem;
  color: var(--color-texto-body);
  text-align: justify;
}

.vision-div {
  width: 95%;
  height: auto;
  margin: 5vh;
}

.visionT {
  font-family: "Sedan", serif;
  color: var(--color-texto-body);
  text-align: left;
  font-size: 3rem;
}

.vision {
  font-family: "Sedan", serif;
  font-size: 1.5rem;
  color: var(--color-texto-body);
  text-align: justify;
  margin-top: 1vh;
}

.valores-div {
  width: 95%;
  height: auto;
  margin: 5vh;
}

.valoresT {
  font-family: "Sedan", serif;
  color: var(--color-texto-body);
  text-align: left;
  font-size: 3rem;
  margin: 10vh 0vw 5vh 0vw;
}

.valores {
  font-family: "Sedan", serif;
  font-size: 1.5rem;
  color: var(--color-texto-body);
  text-align: justify;
  margin: 2vh 0vw 5vh 0vw;
}

.textos-div {
  float: left;
  width: 50%;
  height: auto;
}

.animacion-div {
  float: right;
  width: 45%;
  height: auto;
  margin: 5vh;
}

.animacionT {
  font-family: "Sedan", serif;
  color: var(--color-texto-body);
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2vh;
}

/* animacion */
#imagenAnime {
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  animation-name: cambiarImagen;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  position: relative;
  margin-top: 20vh;
  margin-left: 20vh;
}

@keyframes cambiarImagen {
  0% {
    background-image: url("../img/Logos/AsusLogo.png");
  }

  25% {
    background-image: url("../img/Logos/MicrosoftLogo.png");
  }

  50% {
    background-image: url("../img/Logos/DellLogo.png");
  }

  75% {
    background-image: url("../img/Logos/LenovoLogo.png");
  }

  100% {
    background-image: url("../img/Logos/RogLogo.png");
  }
}

@media screen and (max-width: 1366px) {
  /* main {
    width: 100vw;
    height: 70vh;
    margin-top: 30vh;
    background: linear-gradient(
      250deg,
      rgb(133, 82, 191),
      rgb(4, 208, 240),
      rgb(44, 36, 82),
      rgb(255, 51, 202)
    );
    background-size: cover;
    background-position: center;
  } */

  .presentacion {
    width: 100vw;
    height: auto;
  }
  #titulo-present {
    margin: -1vh 10vw 23vh 12vw;
    padding-top: 15vh;
    font-size: 4rem;
    text-align: center;
    font-family: "Sedan", serif;
    font-weight: 700;
  }

  .imagen-present {
    width: 100vw;
    height: auto;
    float: center;
    max-width: 100vw;
    /* width: 78vw;
    height: 48vh; */
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
  }
  .textos-div {
    float: left;
    width: 50%;
    height: 0vh;
    line-height: 1.5;
  }
  .mision-div {
    width: 100%;
    height: 12vh;
    margin: 10px;
    line-height: 1;
  }
  .vision-div {
    width: 100%;
    height: 12vh;
    margin: 10px;
    line-height: 1;
  }

  .valores-div {
    width: 100%;
    height: 12vh;
    margin: 10px;
    line-height: 1 !important;
    padding-top: 2.5vh;
  }
}

@media screen and (max-width: 1024px) {
  .presentacion {
    width: 100vw;
    height: auto;
    margin: 10vh 0vw 2vh 0vw;
  }
  #titulo-present {
    margin: 1vh 12vw 18vh 12vw;
    padding-top: 27vh;
    font-size: 4rem;
  }

  .imagen-present {
    width: 100vw;
    height: auto;
    float: center;
    max-width: 100vw;
    /* width: 78vw;
        height: 48vh; */
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
  }
  .textos-div {
    float: left;
    width: 48%;
    height: auto;
  }
  .mision-div {
    height: auto;
  }
  .vision-div {
    width: 100%;
    height: auto;
    margin: 6px;
    padding-top: 4vh;
  }

  .valores-div {
    width: 100%;
    height: auto;
    margin: 1vh;
    padding-top: 0vh;
  }
  .valoresT {
    font-family: "Sedan", serif;
    color: var(--color-texto-body);
    text-align: left;
    font-size: 2.5rem;
    margin: 10vh 0vw 5vh 0vw;
  }
  .animacion-div {
    float: right;
    width: 45%;
    height: auto;
    margin: 5vh;
  }

  #imagenAnime {
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    animation-name: cambiarImagen;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 20vh;
    margin-left: 0vh;
  }
}
@media screen and (max-width: 768px) {
  .presentacion {
    width: 100vw;
    height: auto;
    margin: 10vh 0vw 2vh 0vw;
  }
  #titulo-present {
    margin: 0vh 12vw 10vh 6vw;
    padding-top: 33vh;
    font-size: 4rem;
  }

  .imagen-present {
    width: 100vw;
    height: auto;
    max-width: 100vw;
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
  }
  .textos-div {
    width: 99vw;
    height: auto;
  }
  .mision-div {
    height: auto;
  }
  .misionT {
    text-align: center;
  }
  .vision-div {
    width: 100%;
    height: auto;
    margin: 6px;
    padding-top: 4vh;
  }
  .visionT {
    text-align: center;
  }
  .valores-div {
    width: 100%;
    height: auto;
    margin: 1vh;
    padding-top: 0vh;
  }
  .valoresT {
    text-align: center;
    margin: 10vh 0vw 5vh 0vw;
  }
  .animacion-div {
    width: 100%;
    height: auto;
    margin: 5vh;
  }
  .animacionT {
    text-align: center;
  }
  #imagenAnime {
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
    animation-name: cambiarImagen;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 20vh;
    margin-left: 15vw;
  }
}
@media screen and (max-width: 480px) {
  .presentacion {
    width: 100vw;
    height: auto;
    margin: -3.5vh 0vw 2vh 0vw;
  }
  #titulo-present {
    margin: -36vh 12vw 10vh 6vw;
    padding-top: 33vh;
    font-size: 4rem;
  }

  .imagen-present {
    width: 100vw;
    height: auto;
    max-width: 100vw;
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
  }
  .textos-div {
    width: 99vw;
    height: auto;
  }
  .mision-div {
    height: auto;
    text-align: center;
  }
  .misionT {
    text-align: center;
  }
  .vision-div {
    width: 100%;
    height: auto;
    margin: 6px;
    padding-top: 4vh;
  }
  .visionT {
    text-align: center;
  }
  .vision {
    text-align: justify;
  }
  .valores-div {
    width: 100%;
    height: auto;
    margin: 1vh;
    padding-top: 0vh;
  }
  .valoresT {
    text-align: center;
    margin: 10vh 0vw 5vh 0vw;
  }
  .valores {
    text-align: justify;
    margin: 2vh 0vw 5vh 0vw;
  }
  .animacion-div {
    width: 100%;
    height: auto;
    margin: 5vh;
  }
  .animacionT {
    text-align: center;
    margin-left: 12vw;
  }
  #imagenAnime {
    height: 50vh;
  }
}
@media screen and (max-width: 425px) {
  .presentacion {
    width: 100vw;
    height: auto;
    margin: 10vh 0vw 2vh 0vw;
  }
  #titulo-present {
    margin: 0vh 12vw 10vh 6vw;
    padding-top: 33vh;
    font-size: 4rem;
  }

  .imagen-present {
    width: 100vw;
    height: auto;
    max-width: 100vw;
    box-shadow: transparent 0 0 0 2000px var(--color-fondo-header);
    border-radius: 10px;
  }
  .textos-div {
    width: 99vw;
    height: auto;
  }
  .mision-div {
    height: auto;
  }
  .misionT {
    text-align: center;
  }
  .vision-div {
    width: 100%;
    height: auto;
    margin: 6px;
    padding-top: 4vh;
  }
  .visionT {
    text-align: center;
  }
  .valores-div {
    width: 100%;
    height: auto;
    margin: 1vh;
    padding-top: 0vh;
  }
  .valoresT {
    text-align: center;
    margin: 10vh 0vw 5vh 0vw;
  }
  .animacion-div {
    width: 100%;
    height: auto;
    margin: 5vh;
  }
  .animacionT {
    text-align: center;
  }
  #imagenAnime {
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
    animation-name: cambiarImagen;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    margin-top: 20vh;
    margin-left: 15vw;
  }
}
@media screen and (max-width: 375px) {
  .presentacion {
    width: 100vw;
    height: auto;
    margin: -3.5vh 0vw 2vh 0vw;
  }
  #titulo-present {
    margin: -28vh 0vw 7vh 3vw;
    padding-top: 36vh;
    font-size: 3rem;
  }
  .imagen-present {
    width: 100vw;
    height: auto;
    max-width: 100vw;
    margin: 0vh 0vw 0vh 1.5vw;
    text-align: center;
  }
  .animacionT {
    text-align: center;
    margin-left: 10vw;
    font-family: "Sedan", serif;
    color: var(--color-texto-body);
    font-size: 2rem;
    margin-top: 2vh;
  }
}
@media screen and (max-width: 320px) {
  .presentacion {
    width: 100vw;
    height: auto;
    margin: -3.5vh 0vw 2vh 0vw;
  }
  #titulo-present {
    margin: -48vh 0vw 7vh 3vw;
    padding-top: 36vh;
    font-size: 3rem;
  }

  .imagen-present {
    width: 96vw;
    height: auto;
    max-width: 100vw;
    margin: 0vh 0vw 0vh 3vw;
    text-align: center;
  }
  .textos-div {
    width: 95vw;
    height: auto;
  }
  .mision-div {
    text-align: center;
  }
  .vision-div {
    padding-top: 12vh;
  }
  
  .vision {
    text-align: justify;
  }
  .valores-div {
    padding-top: 12vh;
  }
  .valores {
    text-align: justify;
    margin: 2vh 0vw 5vh 0vw;
  }
  .animacion-div {
    width: 100%;
    height: auto;
    margin: 2vh;
  }
  .animacionT {
    text-align: center;
    margin-left: 7vw;
    font-family: "Sedan", serif;
    color: var(--color-texto-body);
    font-size: 2rem;
    margin-top: 2vh;
  }
  #imagenAnime {
        height: 40vh;
        width: 90vw;
        animation-name: cambiarImagen;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        position: relative;
        margin-top: 12vh;
        margin-left: 5vh;
}
}
