/* Posibles colores,a modificar */
:root{
    --color-primario: #1f2979;
    --color-secundario: #3d478e;
    --color-terciario: #574695;
    --color-fondo-header: #b9a7e3;
    --color-texto-header:#fffdfd;
    --color-fondo-body: #ffffff;
    --color-texto-body: #010101;
    --barra-input-color: #4f31572c;
    --color-fondo-form: rgba(0, 0, 0, 0.622);
    --color-fondo-texto: #5BA7CF;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
/*CARLOS: Desde acá hasta body inclusive lo puse yo para que queden todos headers iguales*/
header{
    background:linear-gradient(150deg, var(--color-primario), var(--color-secundario), var(--color-terciario),var(--color-fondo-header));
    color: var(--color-texto-header);
    text-align: center;

    

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}
#logo{
    width: 150px;
    height: 150px;
    box-sizing: var(--color-fondo-body);
    margin-right: 350px;
}
.hipervinculo{
    color: var(--color-texto-header);
    text-decoration: none;
    margin-left: 50px;
}

.menu{
    display: inline-block;
    vertical-align: middle;
}
.menu ul{
    float: right;
    margin-right: 20px;

}
.menu ul li{
    display: inline-block;
    line-height: 150px;
    margin: 0 5px;
}
.menu ul li:hover{
    transform: scale(1.1);

}
.menu ul li a{
    color: var(--color-texto-header);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 13px;
    border-radius: 3px;
    transition: .3s linear;
}
.menu ul li a:hover{
    color: #9d92b2;
    transform: scale(1.1);
}


body, main, footer{
    border: 3px; color: black;
    min-height: 50px;
    margin: 0.5rem;


}

/* Eva:Contenido de productos*/

#encabezado{
    background-image: url(../img/283818.jpg);
    height: 80vh; 
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center; 
   

body{
    background-image: url();  /*COLOCAR IMAGEN PARA EL FONDO*/
    background-size: cover;

}

.texto_encabezado {
    width: 80%; 
    max-width: 1200px; 
    padding: 20px;
    text-align: center; 
    color: #fff;
}

.texto_encabezado p {
    font-size: 1.5em; 
    margin-top: 20px;
    text-align: left;
}

.texto_encabezado h1 {
    font-size: 3em; 
    margin-bottom: 20px;
    text-align: right;
}


.productos{
    height: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    background: #ffffff;
}

.box-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.productos .box-conteiner .box {
    flex: 0.5 0.5 475px;
    box-shadow: 0 8px 24px #010101;
    border-radius: 30px;
    border-radius: 16px solid #111111;
    position: relative;

}

.productos .box-conteiner .box .descuentos{
    position:absolute;
    top: 10px; left: 10px;
    padding: 8px 8px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    color: #fbfbfb;
    background: #6150ff;
    
}

.productos .box-conteiner .box .imagen{
    position: relative;
    text-align: center;
    padding-top: 16px;
    overflow: hidden;
}

.productos .box-conteiner .box .imagen img{
    height: 30vh;
}

.productos .box-conteiner .box:hover .imagen img{
    transform: scale(1.1);
}

.boton-compra {
    background-color: #6150ff; 
    border: none;
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.boton-compra:hover {
    background-color: #4735ea; 
}

.productos .box-conteiner .box .contenido {
    padding: 20px;
    text-align: center;
}

.productos .box-conteiner .box .contenido h3 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
}

.productos .box-conteiner .box .contenido p {
    font-size: 18px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
}

.precio {
    font-size: 25px;
    margin-bottom: 10px;
}

.precio span {
    color: #888;
    text-decoration: line-through;
}

h1{
    margin-top: 10vw;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    


}


footer{
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-header);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.pie-pagina{
    color: var(--color-texto-header);
    text-decoration: none;
    text-align: right;
    padding-top: 10px;
}
.terminos{
    margin-right: 150px;
    font-size: 15px;
    text-align: center;
    padding-left: 150px;
    padding-bottom: 20px;
}
.redes{
    color: var(--color-texto-header);
    text-align: center;
    vertical-align:bottom;
    padding-bottom: 5px;
}

.redes-img{
    height: 15px;
}

.terminos-s1{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.copy{
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
