/* Posibles colores,a modificar */
:root{
    --color-primario: #574695ea;
    --color-secundario: #28359ae7;
    --color-fondo-header: #b9a7e3e7;
    --color-texto-header:#fffdfd;
    --color-fondo-body: #ffffff;
    --color-texto-body: #010101;
    --color-fondo-form: rgba(0, 0, 0, 0.622);
    --color-fondo-texto: #5BA7CF;
}


*{
    margin: 0;
    padding: 0;
}
/*CARLOS: Desde acá hasta body inclusive lo puse yo para que queden todos headers iguales*/
header{
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-header);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#logo{
    width: 90px;
    height: 90px;
    box-sizing: var(--color-fondo-body);
    margin-right: 400px;
}
.hipervinculo{
    color: var(--color-texto-header);
    text-decoration: none;
    margin-left: 75px;
}

.menu{
    display:inline-block;
    vertical-align: middle;
}

body{
    background-image: url();  /*COLOCAR IMAGEN PARA EL FONDO*/
    background-size: cover;
}

aside{
    border: 30px; color: orange;
    min-height: 50px;
    min-width: 30%;
}

h1,h2,h3{
    padding: 10px;
    color: blue;
}

p{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: darkslategray;
    text-align: center;
    border-radius: 10%;
}

footer{
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario), var(--color-fondo-header));
    color: var(--color-texto-header);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.pie-pagina{
    color: var(--color-texto-header);
    text-decoration: none;
    text-align: right;
    padding-top: 10px;
}
.terminos{
    margin-right: 150px;
    font-size: 15px;
    text-align: center;
    padding-left: 150px;
    padding-bottom: 20px;
}
.redes{
    color: var(--color-texto-header);
    text-align: center;
    vertical-align:bottom;
    padding-bottom: 5px;
}

.redes-img{
    height: 15px;
}

.terminos-s1{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.copy{
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
