<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <!-- Logo -->
        <nav>
            <div>
                <a href="/templates/Contacto.html"> </a>
            </div>
        </nav>


    </header>
    <!-- Contenido  Formulario y mapa-->
    <main>
        <section>


        </section>

        <section>

            
        </section>

        <section>

            
        </section>


    </main>
<!-- Pie de página -->
    <footer>
        <footer style="text-align: center; background-color:cornflowerblue;">
            <br>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://ar.pinterest.com/" target="_blank"><i class="fa-brands fa-square-pinterest"></i></a>
            <a href="https://twitter.com/"><i class="fa-solid fa-hashtag"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <p> Derechos reservados @2020</p>
        </footer>




    </footer>
</body>
</html>