<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Nosotros.css">
    <title>Nosotros</title>
</head>
<body>
  <!-- Encabezado -->
  <header>
    <!-- Logo -->
    <div class="menu">
        <img id=logo src="static/img/IdearepresentativadeLogo.png" alt="">

    </div >
    <!-- Hipervínculos del menú -->
    <nav class="menu">

          <a class="hipervinculo"  href="../index.html">Home</a></li>       
          <a class="hipervinculo"  href="Nosotros.html">Nosotros</a>
          <a class="hipervinculo"  href="Contacto.html">Contacto</a>
          <a class="hipervinculo"  href="Producto.html">Producto</a>
        
    </nav>
</header>
    <!-- Contenido animación -->
    <main>
        <section form>


        </section>

        <section>

            
        </section>

        <section>

            
        </section>


    </main>
<!-- Pie de página -->
    <footer>
        <footer style="text-align: center; background-color:rgb(123, 220, 222);">
            <br>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fa-solid fa-hashtag"></i></a>
            
            <br>            
            <p> Derechos reservados @2024</p>
        </footer>




    </footer>
</body>
</html>