<!DOCTYPE html>
<html lang="es">

<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta menú hamburger -->
    <script src="https://kit.fontawesome.com/a763bf316a.js" crossorigin="anonymous"></script>
    <!-- Icono -->
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>TECHNO - Nosotros</title>
</head>

<body>
    <!-- Encabezado -->
    <header></header>
    <!-- Contenido -->
    <main>
    <div class="textos-div"> 
            <div class="mision-div">
                <h3 class="misionT">MISION</h3>
                <P class="mision">Ser un aliado tecnológico de nuestros clientes, ayudando a que consigan la mejor
                    tecnologia al mejor precio. </P>
            </div>
            <div class="vision-div">
                <h3 class="visionT">VISION</h3>
                <P class="vision">Ser una empresa lider en innovación tecnológica, capaz de acompañar a nuestros
                    clientes en forma integral en todos sus proyectos mediante alianzas estrategicas con marcas de
                    primer nivel </P>
            </div>
            <div class="valores-div">
                <h3 class="valoresT">NUESTROS VALORES </h3>
                <P class="valores">Liderazgo: Esforzarse por ser líderes del mercado, en busqueda de la excelencia.</P>
                <P class="valores">Colaboración: Trabajo en equipo, potenciando el talento del individuo y del grupo.</P>
                <P class="valores">Etica: Tener integridad en todos los ordenes de la vida, tambien en los negocios.</P>
                <P class="valores">Pasión: Pasión por lo que hacemos, con profesionalismo y alegria.</P>
            </div>
        </div>

        <div class="animacion-div">
            <h3 class="animacionT">NUESTROS PARTNERS</h3>
            <div id="imagenAnime"></div>
        </div>

    </main>

    <footer class="pie-pagina">
        <div>
            <section class="seccion-pie">
                <h1 class="titulo-sitio">Sitio Web</h1>
                <p><a class="hiperv" href="../index.html">Home</a></p>
                <p><a class="hiperv" href="../templates/Nosotros.html">Nosotros</a></p>
                <p><a class="hiperv" href="../templates/Producto.html">Producto</a></p>
                <p><a class="hiperv" href="../templates/Contacto.html">Contacto</a></p>
            </section>
            <section class="seccion-pie">
                <h1 class="titulo-ayuda">Ayuda</h1>
                <p><a class="terminos-s1" href="">Términos y condiciones</a></p>
                <p><a class="terminos-s1" href="">Preguntas Frecuentes</a></p>
                <p><a class="terminos-s1" href="">Ayuda</a></p>
            </section>
            <section class="seccion-pie" id="seccion-redes">
                <h1 class="titulo-siguenos">Síguenos</h1>
                <a href="https://www.facebook.com/" target="_blank"><img class="redes-img"
                        src="../static/img/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/" target="_blank"><img class="redes-img"
                        src="../static/img/instagram.png" alt=""></a>
                <a href="https://twitter.com/" target="_blank"><img class="redes-img" src="../static/img/gorjeo.png"
                        alt=""></a>
                <a class="copy" <small>&copy;Derechos Reservados 2024</small></a>
                <a class="copy-2" <small>&copy; 2024</small></a>
            </section>
            <div class="recuperar"></div>
        </div>
    </footer>
    <script src="../static/js/header2.js"></script>
</body>

</html>