<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- no se traduzca la marca de la empresa en el pie de pagina -->
    <meta http-equiv="Content-Language" content="es"/>
    <!-- Icono -->
    <link rel="shortcut icon" href="../static/img/images.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/producto.css">
    <title>Producto</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <!-- Logo -->
        <div class="menu">
            <img id=logo src="../static/img/IdearepresentativadeLogo-removebg-preview.png" alt="">

        </div >
        <!-- Hipervínculos del menú -->
        <nav class="menu">

              <a class="hipervinculo"  href="../index.html">Home</a>      
              <a class="hipervinculo"  href="Nosotros.html">Nosotros</a>
              <a class="hipervinculo"  href="Contacto.html">Contacto</a>
              <a class="hipervinculo"  href="Producto.html">Producto</a>
            
        </nav>
    </header>
    <!-- Contenido -->
    <main>
        <!-- Imagen -->
        <section>
            <div h2>Apple MacBook Air M2</h2>
                <img src="" alt="">
                <p> Especificaciones:
                    CPU:	Apple M2 Chip
                    RAM:	8GB
                    GPU:	Apple M2 8-Core
                    Pantalla:	13.3-pulgadas Retina
                    Almacenamiento:	256GB SSD
                    Dimensiones:	11.97 x 8.36 x 0.63 pulgadas</p>
            </div>



        </section>

        <section>
            <div>
                <video src=""></video>
            </div>

            
        </section>

        <section>

            
        </section>


    </main>

    <!-- Pie de página -->
    <footer class="pie-pagina">
        <div class="terminos">
            <a class="terminos-s1" href="">Términos y condiciones</a>
            <a class="terminos-s1" href="">Preguntas Frecuentes</a>
            <a class="terminos-s1" href="">Ayuda</a></ul>
        </div>        
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><img class="redes-img" src="../static/img/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="redes-img" src="../static/img/instagram.png" alt=""></a>
            <a href="https://twitter.com/" target="_blank"><img class="redes-img" src="../static/img/gorjeo.png" alt=""></a>
            <big>© 2020 <code translate="no"></span></code>
        </div>
    </footer>
</body>
</html>