<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- meta menú hamburger -->
        <script src="https://kit.fontawesome.com/a763bf316a.js" crossorigin="anonymous"></script>
        <!-- Icono -->
        <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
        <!-- estilos -->
        <!-- <link rel="stylesheet" href="../static/css/contacto.css"> -->
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/RegistroNuevo.css">
        <title>TECHNO - Ingreso nuevo producto</title>
    </head>
    <body>
        <!-- Encabezado -->
        <header></header>
        <!-- Contenido  Formulario y mapa-->
        <main>
            <div class="contain">
                <div class="contact" id="registro">
                    <h1 class="titulo-form">Ingreso de un nuevo producto</h1>                             

                        <form class="formulario" action=" ">

                            <label class="etiqueta" for="modelo">Modelo:</label> 
                            <span class="obligatorio">*</span>
                            <input type="text" name="modelo" id="modelo" placeholder="Modelo del producto" required>
                            
                            <div class="email-s1">
                                <label class="etiqueta" for="precio">Precio:</label>
                                <span class="obligatorio">*</span>                                
                                <input type="number" name="precio" id="precio" required placeholder="Precio del producto">
                            </div>
                            
                            <label class="etiqueta" for="cantidad">Cantidad:</label>
                            <span class="obligatorio">*</span>
                            <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad de producto">
                            
                            <div>
                                <label for="imagen" class="etiqueta">Ingrese link de la imagen:</label>
                                <input type="text" name="image" id="imagen" class="file" placeholder="Link de imagen del producto">
                            </div>

                            <label class="etiqueta" for="descripcion">Detalle:</label>
                            <span class="obligatorio">*</span>
                            <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion del producto">
                            

                            <button type="button" name="enviar_formulario" id="enviar" onclick="guardar()">Enviar</button>
                            
                            <div class="leyenda">
                                <label class="etiqueta" for="nombre">
                                <span class="obligatorio">*</span> Campos obligatorios
                                </label>
                            </div>
                        </form>
                </div>
            </div>
        </main>
    <!-- Pie de página -->
    <footer class="pie-pagina">
        <div>
            <section class="seccion-pie">
                <h1 class="titulo-sitio">Sitio Web</h1>
                <p><a class="hiperv" href="../index.html">Home</a></p>
                <p><a class="hiperv" href="../templates/Nosotros.html">Nosotros</a></p>
                <p><a class="hiperv" href="../templates/Producto.html">Producto</a></p>
                <p><a class="hiperv" href="../templates/Contacto.html">Contacto</a></p>
            </section>
            <section class="seccion-pie">
                <h1 class="titulo-ayuda">Ayuda</h1>
                <p><a class="terminos-s1" href="">Términos y condiciones</a></p>
                <p><a class="terminos-s1" href="">Preguntas Frecuentes</a></p>
                <p><a class="terminos-s1" href="">Ayuda</a></p>
            </section>
            <section class="seccion-pie" id="seccion-redes">
                <h1 class="titulo-siguenos">Síguenos</h1>
                <a href="https://www.facebook.com/" target="_blank"><img class="redes-img"
                        src="../static/img/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/" target="_blank"><img class="redes-img"
                        src="../static/img/instagram.png" alt=""></a>
                <a href="https://twitter.com/" target="_blank"><img class="redes-img" src="../static/img/gorjeo.png"
                        alt=""></a>
                <a class="copy" <small>&copy;Derechos Reservados 2024</small></a>
                <a class="copy-2" <small>&copy;  2024</small></a>
            </section>
            <div class="recuperar"></div>
        </div>
    </footer>
        <script src="../static/js/header.js"></script>
        <script src="../static/js/ingresar_producto.js"></script>
    </body>

</html>